* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-color: #0f0f0f;
  color: white;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

header {
  text-align: center;
  padding: 20px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  color: #3ef9f3;
}

.hora {
  font-size: clamp(1rem, 10vw, 10rem);
}
#controles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
body,
.hora {
  transition: background-color 1s ease, color 1s ease;
}

.hora,
#titulo {
  color: #3ef9f3;
  transition: color 0.5s ease;
  text-shadow: 1px 1px 4px black;
}

.hora {
  font-family: "Orbitron", sans-serif;
}

form {
  display: none;
}

button {
  border: 0px;
  padding: 5px 25px;
  border-radius: 2px;
  color: white;
  background-color: #3ef9f3;
}
